*{
    margin: 0px;
    padding: 0px;
}
p, li, a{
    font-family: "Red Hat Text", sans-serif;
    font-weight: 300;
}

h1{
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    h1{
        color: white;
    }

    nav {
        display: flex;
        gap: 40px;

        a{
            text-decoration: none;
            color:#ffffff80;
            
        }
    }
    
    
}

#intro {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
    url("images/banner2.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    
    padding: 200px;
    h1{
        font-size: 70px;
        color: white;
        justify-content: center;
        text-align: center;

    }

    p{
        justify-content: center;
        color: #ffffff80;
        text-align: center;
        font-size: 20px;
    };
}

main{
    background-image:  linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), 
    url("images/bg.jpg");
    padding: 100px 150px 100px 150px;

    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    gap: 20px;

    h1{
        font-size: 25px;
        color: black;
        justify-content: center;
        text-align: center;
    }
        p{
        justify-content: center;
        color: #00000080;
        text-align: center;
        font-size: 16px;
    }

    div{
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        article {
            background-color: white;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            h1 {
                font-size: 20px;
            }

            img{
                width: 100px;
            }

        }
    }
}

.cta{
    background-image:  linear-gradient(#b7555580, #b7555580), 
    url("images/cta01.jpg");
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    background-position: center;
    background-repeat: no-repeat;
    
    padding: 120px 200px 120px 200px;
    h1{
        font-size: 25px;
        color: white;
        justify-content: center;
        text-align: center;

    }

    p{
        justify-content: center;
        color: #ffffff80;
        text-align: center;
        font-size: 16px;
    }
}

footer{
    display: flex;
    flex-direction: column;
    
    padding: 120px 200px 120px 200px;
    background-color:black;
    gap: 30px;

    div{
        
        display: flex;
        gap: 70px;
        

        article{
            display: flex;
            flex-direction: column;
            gap:20px;

            h1{
                font-size: 20px;
                color: white;
                
            }
            p{
                width: 400px;
                color: #ffffff80;
                text-align: left;
                font-size: 16px;
            }

            ul li{
                font-size: 16px;
                color: #ffffff80 ;
                
                list-style: none;
                margin: 10px 0px 10px 0px;
                display: flex;
                gap: 10px;
                align-items: center;
                img{
                    width: 30px;
                }
            }

            a{
                color: #ffffff80 ;
                text-decoration: none;
            }

            hr{
                color: #ffffff80;
                
                border: #ffffff80 solid 0.5px;
                
            }


        }
    }
   
    hr{
        color: #ffffff80;       
        border: #ffffff80 solid 0.5px;
                
    }
    p {
        text-align: center;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            color: #ffffff80;
        }

        font-size: 16px;

    }
}