*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    h1{
        color: white;
    }

    nav {
        display: flex;
        gap: 40px;

        a{
            text-decoration: none;
            color:#ffffff80;
            
        }
    }
    
    
}

#intro {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), /* filtre noir semi-transparent */
    url("images/banner2.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    
    padding: 120px;
    h1{
        font-size: 70px;
        color: white;
        justify-content: center;
        text-align: center;

    }

    p{
        justify-content: center;
        color: #ffffff80;
        text-align: center;
        font-size: 20px;
    };
}

main{
    background-image:  linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), /* filtre noir semi-transparent */
    url("images/bg.jpg");
    
    background-position: center;
    background-repeat: no-repeat;

    h1{
        font-size: 25px;
        color: black;
        justify-content: center;
        text-align: center;
    }
        p{
        justify-content: center;
        color: #ffffff80;
        text-align: center;
        font-size: 16px;
    }

}